<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${userModel.title}"></title>
</head>
<body>
<div th:replace="~{fragments/header :: header}">...</div>
<div th:text="${userModel.title}"></div>
<form action="/users/add" method="post" th:object="${userModel.user}">
    <input type="hidden" name="userId" th:value="*{userId}">
    名字:
    <input type="text" name="userName" th:value="*{userName}">
    电话:
    <input type="text" name="phone" th:value="*{phone}">
    性别:
    <input type="text" name="sex" th:value="*{sex}">
    <br>
    <input type="submit" value="提交">
</form>
</body>
</html>