<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>



<!--Begin core plugin -->
<script th:src="@{assets/js/jquery.min.js}"></script>
<script th:src="@{assets/js/bootstrap.min.js}"></script>
<script th:src="@{assets/plugins/moment/moment.js}"></script>
<script th:src="@{assets/js/jquery.slimscroll.js}"></script>
<script th:src="@{assets/js/jquery.nicescroll.js}"></script>
<script th:src="@{assets/js/functions.js}"></script>
<!-- End core plugin -->

<!--Begin Page Level Plugin-->
<script th:src="@{assets/plugins/datatables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{assets/pages/table-data.js}"></script>
<!--End Page Level Plugin-->

</body>
</html>